
# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "cs_n" IOSTANDARD = LVCMOS33;
NET "led0" IOSTANDARD = LVCMOS33;
NET "led1" IOSTANDARD = LVCMOS33;
NET "led2" IOSTANDARD = LVCMOS33;
NET "led3" IOSTANDARD = LVCMOS33;
NET "led4" IOSTANDARD = LVCMOS33;
NET "led5" IOSTANDARD = LVCMOS33;
NET "led6" IOSTANDARD = LVCMOS33;
NET "led7" IOSTANDARD = LVCMOS33;
NET "mosi" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "sclk" IOSTANDARD = LVCMOS33;
NET "sw0" IOSTANDARD = LVCMOS33;
NET "sw1" IOSTANDARD = LVCMOS33;
NET "sw2" IOSTANDARD = LVCMOS33;
NET "sw3" IOSTANDARD = LVCMOS33;
NET "sw4" IOSTANDARD = LVCMOS33;
NET "sw5" IOSTANDARD = LVCMOS33;
NET "sw6" IOSTANDARD = LVCMOS33;
NET "sw7" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clk" LOC = V10;
NET "cs_n" LOC = T12;
NET "led0" LOC = U16;
NET "led1" LOC = V16;
NET "led2" LOC = U15;
NET "led3" LOC = V15;
NET "led4" LOC = M11;
NET "led5" LOC = N11;
NET "led6" LOC = R11;
NET "led7" LOC = T11;
NET "mosi" LOC = V12;
NET "reset" LOC = B8;
NET "sclk" LOC = P11;
NET "sw0" LOC = T10;
NET "sw1" LOC = T9;
NET "sw2" LOC = V9;
NET "sw3" LOC = M8;
NET "sw4" LOC = N8;
NET "sw5" LOC = U8;
NET "sw6" LOC = V8;
NET "sw7" LOC = T5;
